.detail__container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(15, 18, 20, .99);
}

.detail__inner {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail__box {
  border-radius: 5px;
  display: flex;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25),
              0 8px 16px -8px rgba(0, 0, 0, .3),
              0 -6px 16px -6px rgba(0, 0, 0, .25);
}

.detail__image {  
  width: 400px;
}

.detail__description {
  background-color: rgb(12, 15, 18);  
  max-width: 500px;
  max-height: 600px;  
  padding: 12px;
  text-align: center;
}

.detail__title {
  color: #fff;
}

.detail__subtitle {
  border-top: 1px solid rgba(255, 255, 255, .7);
  font-size: 14px;
  font-weight: 300;
  color: #d9d9d9;
  margin-top: 2rem;
}
.detail__genres {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.detail__genre {
  margin-right: 12px;
}

.detail__summary {
  text-align: left;
}

@media screen and (max-width: 768px) {

}